/* CSS BASED */
*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--primary:#5e7c60;
	--primary-dark:#3f5f42;
	--bg:#f9f5f2;
	/* background-color: var(--bg); */
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Quicksand', sans-serif;
	line-height: 1.6;
	background-color: #f9f5f2;
	color: #111827;
	/* tambahan */
	display: flex;
	flex-direction: column;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 1rem;
}

section{
	padding: 5rem 0;
	width: 100%;
	scroll-margin-top: 70px;
}

h1{
	font-size: 3rem;
	font-weight: 700;
}

h2{
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

h3{
	font-size: 1.4rem;
	margin-bottom: 0.8rem;
}

p{
	color: #555;
	margin-bottom: 1rem;
}

img{
	max-width: 100%;
	display: block;
	/* max-width → gambar tidak overflow
	display block → menghilangkan gap bawah */
}

a{
	text-decoration: none;
	color: inherit;
	transition: 0.2s ease;
}

.btn-primary{
	display: inline-block;
	padding: 0.8rem 1.5rem;
	background-color: #5e7c60;
	color: white;
	border-radius: 8px;
	transition: 0.3s ease;
	cursor: pointer;
}

.btn-primary:hover{
	background-color: #3f5f42;
}

input,
textarea,
button,
select{
	font: inherit;
}

ul,
ol{
	list-style: none;
}

button{
	border: none;
	background: none;
	cursor: pointer;
}
/* END CSS BASED */
/* toggle */
.nav-toggle{
	display: none;
	background: none;
	border: none;
	font-size: 1.8rem;
	cursor: pointer;
}

.nav-toggle span{
	display: block;
	width: 25px;
	height: 3px;
	background: #111827;
	margin: 5px 0;
	transition: 0.3s;
	border-radius: 2px;
}

.nav-toggle.active span:nth-child(1){
	transform: rotate(45deg)translate(5px, 5px);
}

.nav-toggle.active span:nth-child(2){
	opacity: 0;
}

.nav-toggle.active span:nth-child(3){
	transform: rotate(-45deg)translate(6px, -6px);
}
/* end toggle */
/*SECTION NAVBAR*/
.logo-text{
	font-size: 1.5rem;
	font-weight: 700;
	color: #3f5f42;
}

.navbar{
	position: sticky;
	top: 0;
	background-color: #f9f5f2;
	z-index: 999;
}

.navbar-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.nav-list ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-list a{
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	font-weight: 500;
	border-radius: 999px;
	color: black;
	transition: 0.2s ease;
}

.nav-list a:hover{
	background-color: #5e7c60;
	color: white;
}
/* END SECTION NAVBAR */

/*SECTION HERO*/
.hero-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
}

.content-description{
	flex: 1;
}

.content-image{
	flex: 1;
	display: flex;
	justify-content: center;
}

.content-image img{
	width: 300px;
	border-radius: 100%;
}

.title span{
	color: #5e7c60;
}

.subtitle{
	margin: 1rem 0 2rem;
	font-size: 1.2rem;
}

#hero{
	min-height: 80vh;
	display: flex;
	align-items: center;
}
/* END SECTION HERO */

/* SECTION ABOUT */
#about{
	background-color: #fff;
}

.about-wrapper{
	text-align: center;
}

.about-content{
	max-width: 700px;
	/* ukuran ideal untuk membaca paragraf di web */
	margin: 0 auto;
	text-align: left;
}

.about-content P{
	margin-bottom: 1rem;
}

/* END SECTION ABOUT */

/* SECTION SKILLS */
#skills{
	background-color: #f9f5f2;
}

.section-title{
	text-align: center;
	margin-bottom: 2rem;
	color: #5e7c60;
}

.section-description{
	text-align: center;
	max-width: 600px;
	margin: 0 auto 3rem;
}

.skills-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 2rem;
}

.skill-card{
	background-color: white;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skill-card:hover{
	transform: translateY(-5px);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.skill-card h3{
	color: #5e7c60;
	margin-bottom: 0.5rem;
}

.skill-level{
	font-size: 0.9rem;
	margin-bottom: 1rem;
}

.skill-card ul{
	padding-left: 1.2rem;
}

.skill-card li{
	margin-bottom: 0.5rem;
}
/* END SECTION SKILLS */

/*SECTION PROJECTS*/
.project-grid{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 2rem;
}

.project-card{	
	align-items: center;

	background-color: white;
	padding: 2rem;
	border-radius: 12px;

	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
	transition: transform 0.25s ease, box-shadow 0.25s ease;

	flex-wrap: wrap;
}

.project-image img{
	width: 100%;
	max-width: 400px;
	border-radius: 10px;
	display: block;
}

.project-content h3{
	margin-top: 0;
}

.project-status{
	color: #5e7c60;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.project-card:hover{
	transform: translateY(-6px);
	box-shadow: 0 18px 40px rgba(0, 0, 0, 0.1);
}
/* END SECTION PROJECTS */

/*SECTION CONTACT*/
#contact{
	text-align: center;
}

#contact p{
	max-width: 600px;
	margin: 0 auto 2rem;
}

.contact-info{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;

}

.contact-info a{
	color: #5e7c60;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.2s ease;
}

.contact-info a:hover{
	color: #3f5f42;
	text-decoration: underline;
}

.contact-info{
	font-style: normal;
}
/* END SECTION CONTACT */

/* RESPONSIVE */
@media(max-width: 992px){

}

@media (max-width: 768px){
	
	.nav-toggle{
		display: block;
	}

	.nav-list{
		display: none;
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 1rem 0;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
	}

	.nav-list a{
		display: block;
		width: 100%;
		text-align: center;
		padding: 0.8rem 0;
	}
	.nav-list.active{
		display: block;
	}
	.nav-list ul{
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}
	/*hero*/
	.hero-wrapper{
		flex-direction: column-reverse;
		text-align: center;
	}
	.content-image img{
		width: 220px;
	}
	.content-description{
		max-width: 100%;
	}

	/* skills */
	.skills-grid{
		grid-template-columns: 1fr;
	}

	/* projects */
	.project-grid{
		grid-template-columns: 1fr;
	}
	.project-card{
		flex-direction: column;
		text-align: center;
	}
	.project-image img{
		max-width: 100%;
	}
}

@media (max-width: 576px){
/*KECILKAN FONT DAN SPASI*/
	/*hero*/
h1{
	font-size: 2.2rem;
}
.hero-wrapper{
	gap: 2rem;
}
.content-image img{
	width: 180px;
}

/* contact */
#contact p{
	padding: 0 1rem;
}
.contact-info{
	padding: 1.5rem;
}
}